<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">{{title}}</h4>
</div>
<div class="modal-body">
    <form role="form-horizontal" id="myform" ng-submit="click('false')" >
        <div class="form-group">
            <label for="dateInput">Date</label>
            <input ng-model="data.date" type="date" class="form-control" id="dateInput" required="required">
        </div>
        <div class="form-group">
            <label for="timeFromInput" >From</label>
            <input  ng-change="setTime()" ng-model="data.fromTime" type="time" class="form-control" id="timeFromInput" required="required">
        </div>
        <div class="form-group">
            <label for="timeToInput" >To</label>
            <input ng-change="setTime()" ng-model="data.toTime" type="time" class="form-control" id="timeToInput" required="required">
        </div>
        <div class="form-group">
            <label for="timePauseInput">Pause</label>
            <input ng-change="setTime()" ng-model="data.pauseTime" type="time" class="form-control" id="timePauseInput" required="required">
        </div>
        <div class="form-group">
            <label for="timetotalInput">Total Hours</label>
            <input ng-model="data.totalHours" type="time" class="form-control" id="timetotalInput" disabled="disabled">
        </div>
        <div class="form-group">
            <label for="commentInput" >Comment</label>
            <textarea ng-model="data.comment" id="commentInput" class="form-control" rows="3" ></textarea>
        </div>
        <div class="form-group">
            <label for="taskInput" >Task</label>
            <select ng-model="data.task" class="form-control" id="taskInput" required="required">
                <option value="" style="display:none">Please select</option>
                <option value="t1">task1</option>
                <option value="t2">task2</option>
                <option value="t3">task3</option>
                <option value="t4">task4</option>
            </select>

        </div>
    </form>
    <button class="btn btn-success" ng-click="clickNewTask()">NEW TASK</button>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="click('true')" ng-hide="{{delbuttonhidden}}">Delete</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary"  form="myform">{{buttonName}}</button>
</div>