<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">{{title}}</h4>
</div>
<div class="modal-body">
    <form role="form-horizontal" id="myform" ng-submit="click('false')" >
        <div class="form-group row">
            <label class="col-xs-3" for="dateInput">Date</label>
            <div class="col-xs-4">
                <input ng-model="data.date" type="date" class="form-control" id="dateInput" required="required">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3" for="timeFromInput" >From</label>
            <div class="col-xs-4">
                <input  ng-change="setTime()" ng-model="data.fromTime" type="time" class="form-control" id="timeFromInput" required="required">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3" for="timeToInput" >To</label>
            <div class="col-xs-4">
                <input ng-change="setTime()" ng-model="data.toTime" type="time" class="form-control" id="timeToInput" required="required">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3" for="timePauseInput">Pause</label>
            <div class="col-xs-4">
                <input ng-change="setTime()" ng-model="data.pauseTime" type="time" class="form-control" id="timePauseInput" >
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3" for="timetotalInput">Total Hours</label>
            <div class="col-xs-4">
                <input ng-model="data.totalHours" type="time" class="form-control" id="timetotalInput" disabled="disabled">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3" for="commentInput" >Comment</label>
            <div class="col-xs-9">
                <textarea ng-model="data.comment" id="commentInput" class="form-control" rows="3" ></textarea>
            </div>
        </div>
        <!--
        <div class="form-group row">
            <label class="col-xs-3" for="commentInput" >Task</label>
            <div class="col-xs-9">
                <select ng-model="data.task" class="form-control" id ="taskInput" required="required">
                    <option value="" style="display: none">Please select</option>
                    <option>Task1</option>
                    <option>Task2</option>
                    <option>Task3</option>
                </select>
            </div>
        </div>
        -->
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="click('true')" ng-hide="{{delbuttonhidden}}">Delete</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary"  form="myform">{{buttonName}}</button>
</div>