
<div class="panel panel-success" >
    <div class="panel-heading">Performs</div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Day</th>
                <th>Task</th>
                <th>Total Hours</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="perform in performList" >
                <td >{{perform.date }}</td>
                <td >{{perform.task.name }}</td>
                <td >{{perform.totalHours }}</td>
                <td ng-click="editRow(perform)"><span class="glyphicon glyphicon-pencil" ></span></td>
            </tr>
        </tbody>
    </table>
</div>