<div class="panel panel-success">
    <div class="panel-heading">Projects</div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Project</th>
                <th>Total Hours</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Werk jumbo</td>
                <td>00:30</td>
            </tr>
            <tr>
                <td>School project php</td>
                <td>01:30</td>
            </tr>
            <tr>
                <td>School project java</td>
                <td>50:00</td>
            </tr>
            <tr>
                <td>Project motor fixen</td>
                <td>05:45</td>
            </tr>
        </tbody>
    </table>
</div>

