<div class="panel panel-success" >
    <div class="panel-heading">Tasks</div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Task</th>
                <th>Total Hours</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="task in taskList" >
                <td ng-click="goDetail(task)">{{task.name }}</td>
                <td ng-click="goDetail(task)">{{task.totalHours }}</td>
                <td ng-click="editRow(task)"><span class="glyphicon glyphicon-pencil" ></span></td>
            </tr>
        </tbody>
    </table>
</div>