<div class="panel panel-warning">
    <div class="panel-heading">Tasks</div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Task</th>
                <th>Total Hours</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Vakkevullen</td>
                <td>53:30</td>
            </tr>
            <tr>
                <td>Kassa</td>
                <td>01:30</td>
            </tr>
            <tr>
                <td>Dwijlen</td>
                <td>00:30</td>
            </tr>
            <tr>
                <td>Slager helpen</td>
                <td>05:45</td>
            </tr>
        </tbody>
    </table>
</div>